<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Programmer Info Page</title>
</head>
<body style="background-color: Tomato;">
<h1>Programmer Info</h1>
<h2 th:text="${msg}"></h2>
<h3> Id : </h3>
<h3 th:text="${programmer.pid}"></h3>
<h3> Name : </h3>
<h3 th:text="${programmer.pname}"></h3>
<h3> Language : </h3>
<h3 th:text="${programmer.plang}"></h3>
<h3 th:text="${programmer}"></h3>

</body>
</html>